{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

{% if section.settings.textbox_color == "black" %}
{% assign tb_hex = "#000000" %}
{% elsif section.settings.textbox_color == "background1" %}
{% assign tb_hex = "{{ background1_color }}" %}
{% elsif section.settings.textbox_color == "background2" %}
{% assign tb_hex = "{{ background2_color }}" %}
{% elsif section.settings.textbox_color == "background3" %}
{% assign tb_hex = "{{ background3_color }}" %}
{% elsif section.settings.textbox_color == "accent1" %}
{% assign tb_hex = "{{ accent1_color }}" %}
{% elsif section.settings.textbox_color == "accent2" %}
{% assign tb_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.textbox_opacity == "0" %}
{% assign tb_opacity = "00" %}
{% elsif section.settings.textbox_opacity == "10" %}
{% assign tb_opacity = "1A" %}
{% elsif section.settings.textbox_opacity == "20" %}
{% assign tb_opacity = "33" %}
{% elsif section.settings.textbox_opacity == "30" %}
{% assign tb_opacity = "4D" %}
{% elsif section.settings.textbox_opacity == "40" %}
{% assign tb_opacity = "66" %}
{% elsif section.settings.textbox_opacity == "50" %}
{% assign tb_opacity = "80" %}
{% elsif section.settings.textbox_opacity == "60" %}
{% assign tb_opacity = "99" %}
{% elsif section.settings.textbox_opacity == "70" %}
{% assign tb_opacity = "B3" %}
{% elsif section.settings.textbox_opacity == "80" %}
{% assign tb_opacity = "CC" %}
{% elsif section.settings.textbox_opacity == "90" %}
{% assign tb_opacity = "E6" %}
{% elsif section.settings.textbox_opacity == "100" %}
{% assign tb_opacity = "FF" %}
{% endif %}

<section class="team-cards section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} my-{{ section.settings.margin }} gx-0">
    <div class="container">
        <div class="row justify-content-center gx-3 gx-lg-0">
            <div class="col-11 col-lg-{{ section.settings.container_size }}">
            {% if section.settings.title != blank %}
            <h2 class="mb-4 text-{{ section.settings.text_color }} text-{{ section.settings.text_color }} text-{{ section.settings.title_alignment }} {{ section.settings.heading_size }}">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
            <div class="team-card-text my-3 text-{{ section.settings.text_color }} text-{{ section.settings.title_alignment }}">{{ section.settings.text }}</div>
            {% endif %}
            </div>
            </div>
                <div class="row g-0 mt-3">
                 {% for block in section['block_order'] %}
                <div class="team-card col-12 col-lg-{{ section.settings.grid }} team-card text-{{ section.settings.cardtext_alignment }} text-{{ section.settings.cardtext_color }}" style="background: {{ tb_hex }}{{ tb_opacity }};">
                {% block %}
                </div>
                {% endfor %}
              </div>
            
        </div>
</section>

{% styles %}

.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
    }

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }

.team-cards .team-card {
        box-sizing: border-box;
        border: 1rem solid {{ bg_hex }}{{ bg_opacity }};
        background-clip:padding-box;
    }

.team-cards {
    padding: {{ section.settings.padding }} 0;
}

.team-cards [class^="icon-"], .team-card [class*=" icon-"] {
     color: {{ accent1_color }};
     margin-top: -3px;
     width: 1rem;
}

.team-card a {
    color: {{ accent1_color }};
}

.member-title, .member-bio {
    font-family: {{ type_base_font }};
    font-size: 1.125rem;
    line-height: 28px;
}

.member-bio {
    font-size: 0.875rem;
    line-height: 20px;
}

.section-{{ section.id }} .icon-phone-call {
    transform: rotate(270deg);
}

.text-start .member-phone, .text-start .member-email {
    justify-content: start;
}

.text-center .member-phone, .text-center .member-email {
    justify-content: center;
}

.text-end .member-phone, .text-end .member-email {
    justify-content: end;
}

@media screen and (max-width: 576px) {
   .team-cards {
        padding: 30px 0;  
    }
    
    .member-title {
        font-size: 1rem;
        line-height: 24px;
    }
    
    .member-bio {
        font-size: 0.875rem;
        line-height: 20px;
    }
}
{% endstyles %}

{% schema %}
{
"name": "Team",
"description": "Section that shows team member photos and profiles in a grid.",
"max_blocks": 99,
"settings": [
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "1"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Large",
"value": "5"
}]
},
{
"type": "select",
"id": "padding",
"label": "Section Padding",
"default": "80px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "container_size",
"label": "Content Width",
"default": "8",
"options": [
{
"label": "Small",
"value": "6"
},
{
"label": "Medium",
"value": "8"
},
{
"label": "Large",
"value": "10"
},
{
"label": "Full",
"value": "12"
}]
},
{
"type": "select",
"id": "grid",
"label": "Cards per Row",
"default": "4",
"options": [
{
"label": "2",
"value": "6"
},
{
"label": "3",
"value": "4"
},
{
"label": "4",
"value": "3"
}]
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image",
"default": "placeholder.webp"
},
{
"type": "select",
"id": "overlay",
"label": "Background Color",
"default": "background3",
"options": [
{
"label": "Black",
"value": "black"
},
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "range",
"id": "opacity",
"label": "Background Color Opacity",
"default": 0,
"min": 0,
"max": 100,
"step": 10
},
{
"type": "text",
"id": "title",
"default": "Lorem ipsum",
"label": "Heading"
},
{
"type": "richtext",
"id": "text",
"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
"label": "Text"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "select",
"id": "title_alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "header",
"content": "Team Card Settings"
},
{
"type": "select",
"id": "textbox_color",
"label": "Card Textbox Color",
"options": [
{
"label": "Black",
"value": "black"
},
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "range",
"id": "textbox_opacity",
"label": "Card Textbox Color Opacity",
"default": 0,
"min": 0,
"max": 100,
"step": 10
},
{
"type": "select",
"id": "cardtext_alignment",
"label": "Card Text Alignment",
"default": "start",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "cardtext_color",
"label": "Card Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
}
],
"blocks": [
{
"type": "team-profile",
"name": "team-profile"
}
]
}
{% endschema %}