                {% if block.image != blank %}
                <div class="member-photo">
                <img alt="{{ block.name }}" src="{{ block.image | image_url }}" class="img-fluid" />
                </div>
                {% endif %}
                <div class="member-info p-4 mb-4">
                {% if block.name != blank %}
                <div class="member-name">
                <h3 class="mb-1">{{ block.name }}</h3>
                </div>
                {% endif %}
                {% if block.title != blank %}
                <div class="member-title mb-1">
                {{ block.title }}
                </div>
                {% endif %}
                {% if block.phone != blank %}
                <div class="member-phone d-flex align-items-center mb-1">
                <span class="icon-phone-call me-3"></span><span><a href="tel:{{ block.phone | remove: ' ' | remove: '(' | remove: ')' | remove: '-' | remove: '.' }}">{{ block.phone }}</a></span>
                </div>
                {% endif %}
                {% if block.email != blank %}
                <div class="member-email d-flex align-items-center mb-1">
                <span class="icon-Mail me-3"></span><span><a href="mailto:{{ block.email }}">{{ block.email }}</a></span>
                </div>
                {% endif %}
                {% if block.bio != blank %}
                <hr />
                <div class="member-bio">{{ block.bio }}</div>
                {% endif %}
                </div>
                
{% schema %}
  {
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "default": "placeholder.webp",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "name",
            "default": "Team Member Name",
            "label": "Name"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Team Member Title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "phone",
            "default": "555-555-5555",
            "label": "Phone"
        },
        {
            "type": "text",
            "id": "email",
            "default": "abc@xyz.com",
            "label": "Email"
        },
        {
            "type": "richtext",
            "id": "bio",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Bio"
        }
    ]
  }
  {% endschema %}